#register{
    background: #f6f6f6;
    .login-logo{
        width: 1.34rem;
        height: .42rem;
        background: url(//static1.mtime.cn/html5/20190531185056/images/2014/logo_mtime.png) no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
}