.header{
    width: 100%;
    height: 1.03rem;
    background: #1c2635;
    .header-container{
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        .goback{
            float: left;
            background: url('https://static1.mtime.cn/html5/20190531185056/images/2014/h_btn_back.png') no-repeat center center ;
            background-size: auto .4rem;
            width: 1.06rem;
            height: 1.06rem;
            position: absolute;
            top: 0;
            left: 0;
        }
        .header-title{
            height: 100%;
            text-align: center;
            p{
                font-size: .36rem;
                text-align: center;
                color: #fff;
                line-height: 1rem;
            }
            
        }
    }
}