#mvplay{
    padding-bottom:1rem; 
    .select-mvplay{
        align-items: center;
        background: #0d121a;
        border-radius:.4rem; 
        overflow: hidden;
        display: inline-block;
        padding:.03rem;
        margin: .15rem 0;
    }
    .select-mvplay>a{
        padding: .1rem 0.6rem;
        font-size: .32rem;
        float: left;

    }
    .active{
        background: #1c2635;
        color: #fff;
        border-radius:.4rem; 
    }

    .movicelist{

        .moviceitem{
        padding: .2rem;
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom:.2rem; 
        .movleft{
            margin-right: .5rem;
            img{
                width: 1.56rem;
                height: 2.34rem;
            }
        }
        .movright{
            flex: 1;
            .movtitle{
                font-size: .32rem;
                font-weight: bold;
                color: #333;
                line-height: .6rem;
                span{
                    display: inline-block;
                    padding: 0 .1rem ;
                    background: #659d0e;
                    color: #fff;
                    margin-left:.1rem;
                    line-height: .4rem;
                }
            }
            .movdec{
                font-size: .32rem;
                color: #659d0e;
                line-height: .6rem;
                
            }
            .moversion{
                display: flex;
                .version{
                    padding: .05rem .1rem;
                    border: 1px solid #659d0e;
                    color: #659d0e;
                    font-size: .24rem;
                    margin: .1rem;
                }
            }
            .movnumber{
                font-size: .30rem;
                color: #666;
                line-height: .6rem;
                margin-right: .3rem;
                position: absolute;
                bottom: .2rem;
            }
            .salebtn{
                width: 1.5rem;
                height: .66rem;
                background: #ff8600;
                font-size: .32rem;
                color: #fff;
                line-height: .66rem;
                text-align: center;
                border-radius: .33rem;
                position: absolute;
                bottom: .2rem;
                right: .3rem;
            }
        }

        }
    }
}